
body {
  background-color: #03040d;
  /* background-color: #808ae6; */
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* body::-webkit-scrollbar{
  display: none;
} */

#placeholder::-webkit-input-placeholder {
  text-align: center;
  color: #7b7a7f;
}

input[type="search"] {
  text-align: center;
}

#placeholder {
  background-color: #2f2e33;
  color: #f1f0f7;
}

.img {
  background-position: center;
  background-size: cover;
}

.carta {
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
}

.carta:hover {
  border-color: #29485f !important;
}

.cuerpo {
  background: linear-gradient(-45deg, #322069, #020914);
  background-size: 400% 400%;
}

.carta:hover .cuerpo {
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.vote {
  border-color: #00ff00 !important;
  text-shadow: 5px 5px 20px #ff99cc, -2px 1px 30px #ff99cc;
}

.genre {
  font-size: 0.9em;
  opacity: 85%;
}

.studio {
  font-size: 0.75em;
  opacity: 70%;
}

.platform {
  opacity: 0.75 !important;
}

.filter {
  /* background-color: #020914; */
  background-color: #030e1f;
  border-radius: 5px;
}

@media (max-width: 1140px) {
  .carta {
    width: 14rem !important;
  }
  .img{
    height: 14rem !important;
  }
}