<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%- include('partials/head.html')%>
    <link rel="stylesheet" href="/css/game.css">
    <title>
      <%- title %>
    </title>
</head>

<body class="text-white hidden">
	<%- include('partials/preloader.html')%>
	<nav class="navbar fixed-top navbar-light bg-transparent">
		<div class="container-fluid ms-5 mt-5">
			<a class="navbar-brand" href="/"><i class="text-white fas fa-arrow-left"></i></a>
		</div>
	</nav>
	<div class="game d-flex align-items-end" id="main"></div>
	<div class="mb-4" id="screenshosts">
		<h3 class="text-white ms-5 mt-5">Screenshots</h3><br>
		<div class="owl-carousel owl-theme" id="imgScreen"></div>
	</div>
	<div class="mb-4" id="market">
		<h3 class="ms-5 mt-5">Where to buy?</h3><br>
		<div class="container-fluid d-flex justify-content-evenly align-items-center" id="marketContent"></div>
	</div>
	<div id="releatedGames">
		<h3 class="ms-5 mt-5">Same saga</h3><br>
		<div class="row d-flex justify-content-center" id="releatedtContent"></div>
	</div>
	<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="gallery-game" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content align-items-center bg-transparent border-0">
				<div class=" modal-body"><img class="modal-img" src="#" style="width: 70vh;"></div>
			</div>
		</div>
	</div><%- include('partials/footer.html')%>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
	</script> 
	<script src="/js/game.js">
	</script> <!-- <script src="http://localhost:35729/livereload.js"></script> -->
</body>

</html>