 /* Input search */
#searcher::-webkit-input-placeholder {
    text-align: center;
    color: #7b7a7f;
}

#searcher[type="search"]{
    text-align: center;
    border-color: #7b7a7f !important;
    border-radius: 2px !important;
}

#searcher{
    background-color: #2f2e33 !important;
    color: #f1f0f7;
}

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.offcanvas-body{
    background-color: #030e1f !important;
}

.card{
    transition: 0.2s;
}

.card:hover{
      border-color: #29485f !important;
}

.card-body{
    background: linear-gradient(-45deg, #322069, #020914);
    background-size: 400% 400%;
}

.card:hover .card-body{
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.card-title{
    font-size: 0.95rem;
}

.genres{
    font-size: 0.8rem;
}

.date{
    font-size: 0.75rem;
}

.vote{
    font-size: 0.85rem;
    border-color: #00ff00 !important;
    text-shadow: 5px 5px 20px #ff99cc, -2px 1px 30px #ff99cc;
border: 2px solid ;
border-radius: 50% 50%;
}

